.tr-table{
  margin-top: 200px;
}
.table-title{
  display: flex;
  justify-content: space-between;
  height: 8vh;
  background: #774181;
}

.col-sm-6{
  display: flex;
  align-items: center;
  padding: 0 36px;
}

.col-sm-6 b{
  color: white;
}

.add-button{
  justify-content: end;
}
